# (cors) {
#   @{args.0} header Origin {args.0}
#   header @{args.0} Access-Control-Allow-Origin {args.0}
# }


anarise.testyta.se {
  route {
    root * /dist/spa
    try_files {path} /index.html #rewrite request to index if no file matches
    file_server {
      root /dist/spa
    }

    
    # root * /spa
    # try_files {path} /index.html #rewrite request to index if no file matches
    # file_server
  }
  
  log
}
